/* UserProfile.css */
.user-profile {
    background-color: rgb(153, 173, 160);
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 400px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
  }
  
  .light.user-profile {
    background-color: #f0f0f0;
    color: #655d5d;
  }
  
  .dark.user-profile {
    background-color: #333;
    color: #f0f0f0;
  }
  
  .user-profile label {
    font-weight: bold;
    font-size: large;
    margin-top: 12px;
  }
  
  .user-profile input,
  .user-profile select {
    width: 100%;
    padding: 6px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .dark.user-profile input,
  .dark.user-profile select {
    background-color: #444;
    color: #f0f0f0;
    border-color: #999;
  }
  
  .user-profile button {
    margin-top: 12px;
    padding: 8px;
    background-color: rgb(27, 111, 12);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .user-profile button:hover {
    background-color: #0056b3;
  }
  
  
  .error {
    color: red;
  }